{% if if site.db.ads.provider == "adsense" and site.db.ads.provider.adsense.display_ads == true %}
     <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
     <!-- display_horizontal -->
     <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="{{site.db.ads.data_ad_client}}"
          data-ad-slot="8099700657"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
     <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
     </script>
{% endif %}
